extends layout 
block content 
  h1= title 
  div 
    ul 
      each game in games 
        li
          a(href=`/games/${game.id}`)=game.title
  br
  h1 Category Links
  div 
    div
      a(href='http://localhost:8080/categories/1') Action & Adventure
    div
      a(href='http://localhost:8080/categories/2') RPG & MMO
    div
      a(href='http://localhost:8080/categories/3') Strategy & RTS
    div
      a(href='http://localhost:8080/categories/4') Sports & Racing
    div
      a(href='http://localhost:8080/categories/5') Casual & Simulation