extends layout

append head
  link(rel="stylesheet" href="/stylesheets/gamePage.css")

block content
  h1= title
  div
    img(src=`${game.image}`, alt="")
  div
    p This is where content goes
  div
    p this is where reviews will go
