extends layout 

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  link(rel="stylesheet" href="/stylesheets/gamecard.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content 
  each game in games 
    div.gamecard__container 
      //- Image
      img.gamecard__image(src=game.image)
      //- Overlay Text
      div.gamecard__text-container
        .gamecard__game-title= game.title
        //- Placeholder for div mini form
        .gamecard__dropdown-container 
          .gamecard__dropdown-form 
        //- Rating Box using likesCount  
        .gamecard__rating-box
          .gamecard__rating= game.likesCount



  div.header-container
    img(src="/GGHeaderSketch.png" class="header")
    h1.header-context GoodGames
  div.games-container
    div.highest-games
      h1 Highest Rated Games

    div.action-games
      h1 Action & Adventure Games

    div.strategy-games
      h1 Strategy & RTS Games

    div.casual-games
      h1 Casual & Simulation Games

    div.racing-games
      h1 Sports & Racing Games

    div.mmo-games
      h1 MMO & RPG Games

