doctype html
html
  head
      block head
        title="Express Starter App"
        link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    if user
      div
        nav
          img(src="/logoHere")
          ul
            li:a(href=`/users/${user.id}/library`) MyGames
            li:a(href=`/users/${user.id}/reviews`) MyReviews
            li:a(href=`/users/${user.id}/profile`) MyProfile
            button
              a(href="/users/logout") Log Out
    else
      div
        nav
          ul
            button
              a(href="/users/login") Log In
            button
              a(href="/users/signup") Sign Up
    block content
