doctype html
html
  head
      block head
        title="GoodGames"
        <script src="https://kit.fontawesome.com/75a2f1fb3a.js" crossorigin="anonymous"></script>
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/navbar.css')
        link(rel='stylesheet' href='/stylesheets/forms.css')
        link(rel='preconnect' href='https://fonts.gstatic.com')

  body
    div.full-width-nav
    div.page-wrap
      //- AUTHENTICATED AUTHENTICATED AUTHENTICATED AUTHENTICATED AUTHENTICATED
      if locals.user
        div.navBar
          //- Left Half of Nav Bar
          div.navBar__left
            a(href="/")
              img.logo(src="/images/GIF-white.gif")
            form(action="/", method="post")
              input.search__input(type="search", name="search" placeholder="Search" )
          //- Right Half of Nav Bar
          .navBar__right
            //- Autheticated - My Games Button  
            div.nav__link-container: a.fas.fa-gamepad.icon__spacer.nav__link(href=`/users/mygames`): a.nav__link(href=`/users/mygames`) My Games
            //- Autheticated - My Reviews Button  
            div.nav__link-container: a.fas.fa-comment-alt.icon__spacer.nav__link(href=`/users/myreviews`): a.nav__link(href=`/users/myreviews`) My Reviews
            //- Autheticated - My Profile Button
            div.nav__link-container: a.fas.fa-user-astronaut.icon__spacer.nav__link(href=`/users/myprofile`): a.nav__link(href=`/users/myprofile`) My Profile
            //- Autheticated - Log Out Button
            form(action='/users/logout' method='post')
              button.form__button(type='submit') Log Out
      //- NOT AUTHENTICATED NOT AUTHENTICATED NOT AUTHENTICATED NOT AUTHENTICATED NOT AUTHENTICATED
      else
        .navBar
          .navBar__left
            a(href="/")
              img.logo(src="/images/GIF-white.gif")
            div
              form(action="/", method="post")
                input.search__input(type="search", name="search" placeholder="Search")
          .navBar__right-unauth
            //- div.right-child-button
            a(href="/users/login"): .form__button Log In
            a(href="/users/signup"): .form__button Sign Up
            
      //- div
      block content
      .footer
        .nav-footer__row
          a.fab.fa-github.icon__spacer(href="https://github.com/cubOlson/GoodGames/wiki"): a(href="https://github.com/cubOlson/GoodGames/wiki") GoodGames Wiki
        .nav-footer__row
          a.fab.fa-github.icon__spacer(href="https://github.com/Drewthurm21"): a(href="https://github.com/Drewthurm21") Drewthurm21
        .nav-footer__row
          a.fab.fa-github.icon__spacer(href="https://github.com/eramsay20"): a(href="https://github.com/eramsay20") eramsay20
        .nav-footer__row
          a.fab.fa-github.icon__spacer(href="https://github.com/Bergan404"): a(href="https://github.com/Bergan404") Bergan404
        .nav-footer__row
          a.fab.fa-github.icon__spacer(href="https://github.com/sguttbinder"): a(href="https://github.com/sguttbinder") sguttbinder
            