doctype html
html
  head
      block head
        title="Express Starter App"
        link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    if user
      div
        nav
          img(src="/logoHere")
          ul
            li:a(href=`/users/${user.id}/library`) MyGames
            li:a(href=`/users/${user.id}/reviews`) MyReviews
            li:a(href=`/users/${user.id}/profile`) MyProfile
            form(action='/users/logout' method='post')
              button(type='submit' id='logout-button') Log Out
    else
      div
        nav
          ul
            button
              a(href="/users/login" id="login-button") Log In
            button
              a(href="/users/signup") Sign Up
    block content
