extends layout

append head
  link(rel="stylesheet" href="/stylesheets/login-signup.css")
  link(rel="stylesheet" href="/stylesheets/reset.css")

block content
  h1.title #{title}
  br
  div
    ul
      each game in myGames
        li
          a(href=`/games/${game.id}`)= game.title
