extends layout 
block content 
  h1 Sweet collection, dude. 
  br
  div
    ul 
      each game in myGames 
        li=game.title




  //-     include: [{
  //-     model: Product,
  //-     as: 'products',
  //-     required: false,
  //-     // Pass in the Product attributes that you want to retrieve
  //-     attributes: ['id', 'name'],
  //-     through: {
  //-       // This block of code allows you to retrieve the properties of the join table
  //-       model: ProductOrder,
  //-       as: 'productOrders',
  //-       attributes: ['qty'],
  //-     }
  //-   }]


  //-     const myGames = await UserGame.findAll({
  //-   where: {userId}, include: {[User]}
  //- })