extends layout

append head
  link(rel="stylesheet" href="/stylesheets/login-signup-review.css")

block content
      div.signup-form
        if errors
          div
            each error in errors
              div.errors: p=error
        form(action=`/games/${game.id}/review` method='post')
          input(type='hidden' name='_csrf' value= csrfToken)
          div
            label.review-label(for='title' class='form-group') Title
            input.review-input(type='text' name='title' class='form-control')
          div
            label.review-label(for='content' class='form-group') Review
            textarea.review-text(name='content')
          div
            select(name='likedStatus' id='likedSelect' class='like-dislike')
              option(value='liked') Liked
              option(value='disliked') Disliked
          button.review-button(type='submit') Add Review
