extends layout

append head
  link(rel="stylesheet" href="/stylesheets/login-signup-review.css")
  link(rel="stylesheet" href="/stylesheets/forms.css")

block content
    //- Signup Form Containter
    .form__container 
        //- Title 
        h1.form__title Signup
            //- Error Field
            if errors
                div.form__error-popup
                    each error in errors
                        //- div: p= error
                        p= error
        .form__field-container
            form(action="/users/signup", method="post")
                //- CSRF
                input(type="hidden", name="_csrf", value=csrfToken)
                //- First Name
                .form__row 
                    label.form__label(for="firstName") First Name
                    input.form__input(type="text", name="firstName")
                //- Last Name
                .form__row 
                    label.form__label(for="lastName") Last Name
                    input.form__input(type="text", name="lastName")
                //- Username
                .form__row 
                    label.form__label(for="username") Username
                    input.form__input(type="text", name="username")
                //- Phone
                .form__row 
                    label.form__label(for="phone") Phone
                    input.form__input(type="tel", name="phone")
                //- Email
                .form__row 
                    label.form__label(for="email") Email
                    input.form__input(type="email", name="email")
                //- Password
                .form__row 
                    label.form__label(for="password") Password
                    input.form__input(type="password", name="password")
                //- Confirm Password
                .form__row 
                    label.form__label(for="confirmPassword") Confirm Password
                    input.form__input(type="password", name="confirmPassword")
                //- LOGIN BUTTON
                .form__row-buttons 
                    button.form__button(type="submit") Sign Up 
        //- Redirect Link
        .redirect__account-page
            a(href="/users/login") Already have an account? Login here!