extends layout

block content
    if errors
        div
            each error in errors
                div: p= error

    form(action="/users/login", method="post")
        div
            input(type="hidden", name="_csrf", value=csrfToken)
        div
            label(for="email") Email
            input(type="email", name="email")
        div
            label(for="password") Password
            input(type="password", name="password")
        button(type="submit",) Login
        div
            a(href="http://") Need an account? Sign up here!
