/* Title for the page */
.category-header {
    text-align: center;
    color: white;
    padding: 20px 0 20px 0;
    font-size: 50px;
    background: linear-gradient(rgba(191, 15, 112, 0.6), rgba(191, 15, 112,0));
}
/* Contains the games for the categories as well as the categories */
.category-container {
    display: flex;
    justify-content: space-between;
}

/* all the games */
.selected-category {
    padding: 0 50px;
    width: 75%;
}
.gameCards {
    display: inline-block;
}

/* The other categories */
.categories-on-right {
    color: white;
    margin: 5px 30px 5px 15px;
    background-color: var(--blue);
    padding: 30px;
    border-radius: 10px;
}
.other-categories {
    margin: 20px 0 20px 0;
}
.other-categories a {
    text-decoration: none;
}
