/* The main div that wraps everything */
.game-page-container {
    margin: 10px auto 10px auto;
    width: 1000px;
    display: flex;
    color: white;
    height: 550px;
}

/* Contains the Image */
.game-image {
    width: 350px;
}
.game-image img{
    width: 350px;
    height: 550px;
    margin-right: 5px;
}

/* Contains the Title, Category, and Summary */
.middleBox {
    width: 450px;
}
.game-title-cat {
    border: 1px solid black;
    background-color: var(--orange);
    color: black;
    margin: 0 5px 5px 5px;
    text-align: center;
    padding: 10px;
}
.game-sum {
    border: 1px solid black;
    background-color: var(--orange);
    color: black;
    margin: 5px 0 5px 5px;
    text-align: center;
    padding: 10px;
    max-height: 436px;
    overflow-y: scroll;
}
.game-sum::-webkit-scrollbar {
    width: 0.25rem;
}
.game-sum::-webkit-scrollbar-track {
    background: #1e1e24;
}

.game-sum::-webkit-scrollbar-thumb {
background: var(--pink);
}
.game-sum p {
    line-height: 2;
    text-align: left;
}

/* Contains the Developer, Date, PurchaseLink, Ratings, and Category sidebar */
.sideCard {
    width: 200px;
}
.game-info {
    background-color: var(--orange);
    color: black;
    margin: 0 0 5px 5px;
    padding: 10px;
}
.purchase {
    background-color: var(--blue);
    color: white;
    padding: 5px;
    border-radius: 14px;
}
.purchase:hover {
    background-color: var(--darkpink);
}
.purchase:active {
    border: 1px solid white;
}
.game-rating {
    background-color: var(--orange);
    color: black;
    margin: 5px 0 5px 5px;
    text-align: center;
    padding: 10px;

}
.categories-on-right {
    background-color: var(--blue);
    color: white;
    margin: 5px 0 5px 5px;
    padding: 10px;

}
.categories-on-right h3 {
    border-bottom: 1px solid white;
}
.other-categories {
    margin: 20px 0 20px 0;
}
.other-categories a {
    text-decoration: none;
}

/* Contains the written reviews and the posted reviews */
.write-reviews {
    width: 1000px;
    margin: 5px auto 5px auto;
    text-align: center;
    color: white;

}

/* styling for the form */
.formDiv {
    padding: 10px 50px;
    /* background: linear-gradient(var(--darkpink), var(--blue)); */
    background-color: var(--blue);
}
.review-label {
    font-size: 20px;
    padding: 7px;
}
.review-input {
    border: 1px solid;
    border-radius: 10px 10px;
    box-sizing: border-box;
    border-style: none;
    margin-top: 6px;
    margin-bottom: 16px;
    background-color: #e7d3f3;
    font-size: 20px;
    width: 100%;
}
.review-button {
    background-color: var(--pink);
    color: white;
    padding: 10px;
    border-radius: 5px 5px;
    margin: 0 10px 0 10px;
    border: none;
    font-size: 15px;
    font-weight: bold;
}
.review-button:hover {
    cursor: pointer;
    background: linear-gradient(var(--blue), var(--darkpink));
}

/* styling for the posted comments */
.posted-reviews {
    background-color: var(--blue);
    text-align: left;
    padding: 10px;
}
