/* The main div that wraps everything */
.game-page-container {
    margin: 10px auto 10px auto;
    width: 745px;
    display: flex;
    color: white;
    /* height: 550px; */
    height: auto;
}

/* Contains the Image */
.game-image {
    margin-right: 5px;
}
.game-image img{
    width: 305px;
    height: 420px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
}

/* Contains the Title, Category, and Summary */
.middleBox {
    width: 450px;
    margin-left: 5px;
}
.game-title-cat {
    border: 3px solid var(--blue);
    background-color: rgb(36, 36, 36) ;
    color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding: 10px;
}
.game-sum {
    border: 3px solid var(--blue);
    background-color: rgb(36, 36, 36) ;
    color: white;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
    padding: 10px;
    max-height: 436px;
    overflow-y: scroll;
}
.game-sum::-webkit-scrollbar {
    width: 0.25rem;
}
.game-sum::-webkit-scrollbar-track {
    background: #1e1e24;
}

.game-sum::-webkit-scrollbar-thumb {
background: var(--pink);
}
.game-sum p {
    line-height: 2;
    text-align: left;
}

/* Contains the Developer, Date, PurchaseLink, Ratings, and Category sidebar */
.sideCard {
    width: 200px;
    display: flex;
    margin-top: 5px;
}
.game-info {
    border: 3px solid var(--blue);
    background-color: rgb(36, 36, 36) ;
    color: white;
    border-radius: 10px;
    margin-right: 10px;
    padding: 10px;
    min-width: 175px;
    min-height: 125px;
}
#release {
    margin-top: 5px;
    margin-bottom: 20px;
    color: var(--pink);
}
.purchase {
    background-color: var(--blue);
    color: white;
    padding: 5px;
    border-radius: 14px;
}
.purchase:hover {
    background-color: var(--darkpink);
}
.purchase:active {
    border: 1px solid white;
}
.game-rating {
    border: 3px solid var(--blue);
    background-color: rgb(36, 36, 36) ;
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    min-width: 120px;
    min-height: 125px;
}

/* Contains the written reviews and the posted reviews */
.write-reviews {
    width: 1000px;
    margin: 5px auto 5px auto;
    text-align: center;
    color: white;
}
.review-button {
    background-color: var(--pink);
    color: white;
    padding: 10px;
    border-radius: 5px 5px;
    margin: auto 10px auto 10px;
    border: none;
    font-size: 15px;
    font-weight: bold;
}
.review-button:hover {
    cursor: pointer;
    background: linear-gradient(var(--blue), var(--darkpink));
}

/* styling for the posted comments */
.review-container {
    width: 800px;
    margin: 0 auto 15px auto;
    border-radius: 10px;
    color: white;
}
.posted-reviews {
    width: 800px;
    margin: 5px auto 5px auto;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(28, 3, 115, 0.6);
    color: white;
    text-align: left;
    padding: 20px;
}
#reviewTitle {
    /* color: var(--pink); */
    background-color: var(--darkpink);
    border-radius: 10px;
    width: fit-content;
    padding: 5px;
}
