.header-container {
    position: relative;
    text-align: center;
}
.header {
    width: 100%;
    max-height: 500px;
    opacity: 40%;
}
.header-context {
    /* transform-origin: center; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
}

/* Main div for all the games, categores, and category box */
.games-container {
    display: flex;
    justify-content: space-between;
}

/* Category box on the right */
.categories {
    color: white;
    margin: 5px 20px 5px 15px;
    background-color: var(--blue);
    padding: 30px;
    height: 300px;
    border-radius: 10px;
}
.other-categories {
    margin: 20px 0 20px 0;
}
.other-categories a {
    text-decoration: none;
}

/* Div that displays them inline horizontally */
.gameCards {
    display: flex;
}

/* Styling for the H1 tags */
.highest-games, .action-games, .strategy-games, .casual-games, .racing-games, .mmo-games {
    color: black;
    border: 1px solid var(--orange);
    background: linear-gradient(var(--orange), var(--yellow));
    width: fit-content;
    padding-right: 20px;
}
.games {
    text-decoration: none;
}
