.navBar {
display: flex;
justify-content: space-between;
background: linear-gradient(#210373, #5F0871);
padding: 10px;

}


/* Contains the Logo as well as the Search Bar */
.logo {
    max-width: 40px;
    margin-right: 10px;
}

.navBar__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-input {
    border: none;
    border-radius: 14px 14px;
    text-align: center;
    padding: 5px;
}
/* .search-button {
    border-radius: 0 14px 14px 0;
}
.search-button-icon {
    width: 1em;
} */


/* Contains the "My Games", "My Reviews", "My Profile", and Logout */
.navBar__right {
    width: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.right__attribute {
    text-decoration: none;
    color: #FB953B;
}

/* SVGS for the 3 categories */
.gamepad {
    width: 1.5rem;
    float: left;
    padding-top: 2px;
    padding-right: 5px ;
}
.comment-box {
    width: 1.3rem;
    float: left;
    padding-top: 2px;
    padding-right: 5px ;
}
.profile-button {
    width: 1.3rem;
    float: left;
    padding-top: 2px;
    padding-right: 5px ;
}

/* Logout Button */
.logoutButton {
    border: 1px solid #F9934C;
    background: none;
    color: #FB953B;
    border-radius: 14px;
    text-align: center;
    padding: 2px 20px;


}
