/* Site Color Swatches*/
:root {
    --darkpink: #bf0f70;
    --pink: #d91193;
    --blue: #1c0373;
    --yellow: #f2ce1b;
    --orange: #f2ae72;
}

.page-wrap {
    max-width: 1366px;
    margin: auto;
    /* background-color: rgba(0, 0, 0, 0.973); */
    background-color: rgba(0, 0, 0, 0.35);
    margin-top: -64px;
    /* height: 100vh; */

}

.full-width-nav {
    position: fixed;
    height: 64px;
    background:linear-gradient(var(--blue), #6e003d);
    content: "";
    top: 0px;
    left: 0px;
    width: 100%
}

.navBar {
display: flex;
justify-content: space-between;
background: linear-gradient(var(--blue), #6e003d);
box-shadow: var(--blue);
padding: 10px;
position: sticky;
top: 0px;
z-index: 3;
}

/* Contains the Logo as well as the Search Bar */
.navBar__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    max-width: 56px;
    margin-right: 10px;
}



/* Contains the "My Games", "My Reviews", "My Profile", and Logout when logged in */
/* Contains the Login and Signup buttons when logged out */
.navBar__right {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBar__right-unauth {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.nav__link-container {
color: var(--orange);
}

.nav__link-container:hover a{
color: var(--yellow);
}

.nav__link-container:active a{
opacity: 50%;
}

.nav__link {
    color: var(--orange);
}

.nav__link-:hover {
    color: var(--yellow);
}

/* .right__attribute {
    text-decoration: none;
    color: var(--orange);
} */


/* SVGS for the 3 categories */
/* .gamepad {
    width: 1.5rem;
    float: left;
    padding-top: 2px;
    padding-right: 5px ;
}
.comment-box {
    width: 1.3rem;
    float: left;
    padding-top: 2px;
    padding-right: 5px ;
}
.profile-button {
    width: 1.3rem;
    float: left;
    padding-top: 2px;
    padding-right: 5px ;
} */


/* .navBar__search {
    border: 1px solid #F9934C;
    background: white;
    color: #FB953B;
    border-radius: 14px;
    text-align: center;
    padding: 2px 20px 2px 2px;
    margin-right: 20px;
} */

.footer {
    color: white;
    display: flex;
    justify-content: center;
    background: linear-gradient(rgba(191, 15, 112, 0), rgba(191, 15, 112,0.6));
    padding: 10px;
    z-index: 3;
    flex: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.nav-footer__row {
    font-size: 1.2em;
    /* flex: auto; */
    flex-grow: .07;
}

.icon__spacer {
    padding: 0 8px;
}

/* .github {
    width: 1.5rem;
    float: left;
    padding-top: 2px;
    padding-right: 5px ;
} */
