/* colors for the page */
:root {
  --darkpink: #bf0f70;
  --pink: #d91193;
  --blue: #1c0373;
  --yellow: #f2ce1b;
  --orange: #f2ae72;
}



body {
  padding: 50px;
  font: 14px ;
  font-family: "Montserrat",sans-serif;
  background-color: rgb(37, 37, 37);
  /* height: 100vh; */
}

a {
  color: #00B7FF;
  /* Added no text decoration here... can take off everywhere else in document */
  text-decoration: none;

}

/* button {
  background-color:none;
  border: none;
  cursor: pointer;
  display: flex;
  color: var(--orange);
  justify-content: space-between;
  align-items: center;
  font-family: Montserrat;
  /* font-size: 1.1em; */
  /* font-weight: 400;
  transition:  all 0.1s ease-in-out;
  -moz-transition:  all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out; */
/* } */ */

button:focus {
    outline: none;
}

button:hover {
    background-color: none;
    color: white;
    /* transform: scale(1.1); */
    font-weight: 400;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, a, ol, li, span,
body, header, nav {
  /* font-size: 1rem; */
  color: inherit;
  /* background-color: transparent; */
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal;
}

/* h1 {
  font-size: 2rem;
} */

/* SCROLLBAR */
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: var(--pink);
}
