/* colors for the page */
:root {
  --darkpink: #bf0f70;
  --pink: #d91193;
  --blue: #1c0373;
  --yellow: #f2ce1b;
  --orange: #f2ae72;
}

body {
  padding: 50px;
  font: 14px ;
  font-family: "Montserrat",sans-serif;
  background-color: rgb(37, 37, 37);
}

a {
  color: #00B7FF;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, a, ol, li, span,
body, header, nav {
  /* font-size: 1rem; */
  color: inherit;
  /* background-color: transparent; */
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal;
}

.title{
  text-align: center;
  padding-top: 10px;
  color: var(--orange)
}

/* h1 {
  font-size: 2rem;
} */
